$text-color-main: #4a5056;

$color-primary: #58a585;
$color-secondary: #3478f6;
$color-disabled: #d4d8dd;
$color-warning: #e47874;

// $color-grey: #f4f3f3;
$color-grey: #d4d8dd;


$radius-basic: 5px;