.header {
  text-transform: uppercase;
  margin-bottom: 30px;

  &__title {
    font-size: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__balance {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
  }

  &__circle {
    --size: 20px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border: 2px solid $text-color-main;
    border-radius: 50%;
  }
}