.wallet {
  display: flex;
  flex-direction: column;

  .input-custom:nth-of-type(1) {
    margin-bottom: 25px;
  }

  .button--clear,
  .button--remove {
    align-self: flex-end;
  }
}

.wallet:nth-child(1) {
  .button--remove {
    display: none;
  }
}